{% extends 'base.html' %}

{% block title %}
Beranda | Website Profil Santri
{% endblock %}

{% block page_title %}
HSI Boarding School Purworejo
{% endblock %}

{% block subtitle %}
Website profil sederhana santri kelas X
{% endblock %}

{% block content %}

<!-- Introduction Section -->
<section class="box intro-section">

  <h3 class="section-title">
    Pengantar
  </h3>

  <p class="lead">
    Assalamu’alaikum warahmatullahi wabarakatuh.

    <br /><br />

    Selamat datang di website profil sederhana saya.
    Website ini berisi informasi mengenai biodata,
    hobi, minat, serta cita-cita saya sebagai siswa
    di <b>HSI Boarding School Purworejo</b>.

    <br /><br />

    Melalui website ini, saya juga sedang belajar
    memahami dunia teknologi dan pengembangan web
    menggunakan HTML, CSS, dan Django.

    <br /><br />

    Silakan jelajahi menu navigasi yang tersedia
    untuk mengenal saya lebih dekat.
  </p>

</section>

{% endblock %}